@charset "ISO-8859-1";

.fiat {
	float: right;
}

.petrobras {
	float: left;
}

.citacoes {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	margin: 20px 40px;
	width: 300px;
	box-sizing: border-box;
	padding: 20px;
}

cite {
	font-style: italic;
	float: right;
	display: block;
}